            <div class="time-grid">
                <div class="time-slot">9am</div>
                <div class="time-slot">10am</div>
                <div class="time-slot">11am</div>
                <div class="time-slot">12pm</div>
                <div class="time-slot">1pm</div>
                <div class="time-slot">2pm</div>
                <div class="time-slot">3pm</div>
                <div class="time-slot">4pm</div>
                <div class="time-slot">5pm</div>
                <div class="time-slot">6pm</div>
                <div class="time-slot">7pm</div>
                <div class="time-slot">8pm</div>
                <div class="time-slot">9pm</div>
            </div>
